@import "tailwindcss";

/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overlap-text {
  line-height: 0.85;
  letter-spacing: -0.05em;
}

.line{
  transform: translateY(100%);
  will-change: transform;
}


@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/gc-epic-pro-font/GC-EPICPRO-Demo-BF6891cc5419ab8.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/gc-epic-pro-font/GC-EPICPRO-Demo-BF6891cc5419ab8.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
